<%- include("partials/header") %>

<body class="leaderboardBody">
    <header class="leaderboard_header">
        <%- include("partials/nav") %>
    </header>
    <h1 class="lotr-profile-title">Leaderbord</h1>
        <main class="leaderboards-container">
            
          <section class="leaderboard">
              <article class="game-mode">10 Rounds</article>
              <table>
                  <thead>
                      <tr>
                          <th>Positie</th>
                          <th>Gebruiker</th>
                          <th>Score</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% (highscores['10rounds'] || []).forEach(entry => { %>
                        <tr>
                            <td><%= entry.position %></td>
                            <td><%= entry.username %></td>
                            <td><%= entry.score %></td>
                        </tr>
                      <% }) %>
                  </tbody>
              </table>
          </section>
  
          <section class="leaderboard">
            <article class="game-mode">Blitz</article>
              <table>
                  <thead>
                      <tr>
                          <th>Positie</th>
                          <th>Gebruiker</th>
                          <th>Score</th>
                      </tr>
                  </thead>
                  <tbody>
                     <% (highscores['blitz'] || []).forEach(entry => { %>
                        <tr>
                            <td><%= entry.position %></td>
                            <td><%= entry.username %></td>
                            <td><%= entry.score %></td>
                        </tr>
                      <% }) %>
                  </tbody>
              </table>
          </section>
  
          <section class="leaderboard">
            <article class="game-mode">Sudden Death</article>
              <table>
                  <thead>
                      <tr>
                          <th>Positie</th>
                          <th>Gebruiker</th>
                          <th>Score</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% (highscores['suddendeath'] || []).forEach(entry => { %>
                        <tr>
                            <td><%= entry.position %></td>
                            <td><%= entry.username %></td>
                            <td><%= entry.score %></td>
                        </tr>
                      <% }) %>
                  </tbody>
              </table>
          </section>
      </main>

<%- include("partials/footer") %>