<%- include("partials/header") %>

<body class="leaderboardBody">
    <header class="leaderboard_header">
        <%- include("partials/nav") %>
    </header>
        <h1 class="page-header">Klassement</h1>
        <main class="leaderboards-container">
          <section class="leaderboard">
              <article class="game-mode">10 Rounds</article>
              <table>
                  <thead>
                      <tr>
                          <th>Positie</th>
                          <th>Gebruiker</th>
                          <th>Score</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% (highscores || []).filter(entry => entry.mode === '10rounds').forEach(entry => { %>
                        <tr>
                            <td><%= entry.position %></td>
                            <td><%= entry.username %></td>
                            <td><%= entry.score %></td>
                        </tr>
                      <% }) %>
                  </tbody>
              </table>
          </section>
  
          <section class="leaderboard">
            <article class="game-mode">Blitz</article>
              <table>
                  <thead>
                      <tr>
                          <th>Positie</th>
                          <th>Gebruiker</th>
                          <th>Score</th>
                      </tr>
                  </thead>
                  <tbody>
                     <% (highscores || []).filter(entry => entry.mode === 'blitz').forEach(entry => { %>
                        <tr>
                            <td><%= entry.position %></td>
                            <td><%= entry.username %></td>
                            <td><%= entry.score %></td>
                        </tr>
                      <% }) %>
                  </tbody>
              </table>
          </section>
  
          <section class="leaderboard">
            <article class="game-mode">Sudden Death</article>
              <table>
                  <thead>
                      <tr>
                          <th>Positie</th>
                          <th>Gebruiker</th>
                          <th>Score</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% (highscores || []).filter(entry => entry.mode === 'suddendeath').forEach(entry => { %>
                        <tr>
                            <td><%= entry.position %></td>
                            <td><%= entry.username %></td>
                            <td><%= entry.score %></td>
                        </tr>
                      <% }) %>
                  </tbody>
              </table>
          </section>
      </main>

    <footer class="leaderboard_footer">
      <p>LOTR &copy; 2025</p>
    </footer>
</body>
</html>